

* {
    background-color: white; /*Makes background white*/
    font-size: 20px; /*Makes font size */
    font-family: Arial, sans-serif; /*Chooses fonts to use */
    color:black; /*Color for the text*/
    margin: 20px; /*Adds margins */
    text-align: center; /*Aligns text */
}
body {
    color: white;/*Color is white */
   margin: 13px; /*Adds margin*/
   padding: 20px; /*Adds pagging to body*/
 }
 
 h1 h2{
    color: rgb(21, 133, 171); /*Makes headings this color*/
    font-size: 25px; /*Chooses the font size*/
    text-align: center; /*Aligns text*/
  }
 
 img {
    padding: 10px;/*Adds padding*/
    margin: 10px; /*Sets margin*/
    border: 3px solid lightgray; /*Adds solid border w/ color*/
    width: 100px; /*edits width for image*/
 }
.div img{
   max-width: 300px; /*images width*/
   height: auto; /*Fits images height*/
}
 .center {
    display:block; /*Changes default element behavior*/
    margin-left: auto; /*Auto adjusts margins on left*/
    margin-right: auto; /*Adjusts margins on right*/
    width: 50% /*Changes width*/
 }
 .topnav {
    background-color: rgb(21, 133, 171); /*Makes the nav section this color*/
    overflow: hidden; /*Hides overflowing content*/
 }
 .topnav a{
    float:right; /*The buttons will sit in the right side*/
    color:rgb(21, 133, 171); /*Sets colors of nav*/
    text-align:center; /*Aligns text center*/
    padding:14px; /*Adds padding*/
    font-size:17px; /*Sets font size*/
 }
 .topnav img {
      float: left; /* Moves image to the left */
      width: 100px;  /*Sets width*/
      height:auto; /*Auto adjust height*/
 }
 .header {
    background-color: rgb(21, 133, 171); /*Sets color*/
    text-align: center; /*Text align center*/
    padding:20px; /*Adds padding*/
 }
 .footer img {
   height:50px; /*Sets footer img height*/
   width:50px; /*Sets footer img width*/
 }
 .container {
   display: flex; /*Makes container a flexbox*/
   justify-content: space-between; /*Makes the columns spaced evenly*/
   gap:20px; /*Makes spacing between columns*/
 }
 .column {
   flex:1; /*all columns are set to take up equal amounts of space*/
   text-align:center;/*Text is centered within column*/
   border: 1px solid gray; /*Creates border around each column*/
   background-color: #f0f0f0; /*Creates colored background for each column*/
 }
 .column img {
   max-width:300px; /*Sets the maximum width for images*/
   height:auto; /*Maintains the height to fit accordingly*/
 }
 .column p{
   background-color:#f0f0f0; /*Sets columns colors */
 }
 .about{
   background-color: #f0f0f0; /*Sets the sections color*/
   border:dashed 1px lightgray; /*Adds dashed lightgray border*/
 }
 .about p{
   background-color: #f0f0f0; /*Sets background color*/
 }
 .grid{
   display:grid;
   grid-template-columns: repeat(3,1fr); /*3columns*/
   grid-template-rows: repeat(2,auto); /*2 rows*/
   gap:20px; /*Creates spacing between boxes*/
 }
 .box {
   background-color: #f0f0f0; /*Color of boxes*/
   text-align: center; /*Centers text inside boxes*/
   font-size: 18px; /*Font size*/
 }
 .box img {
   width: 100px; /*images width*/
   height: 100px; /*Fits images height*/
 }
 
